* {
    box-sizing: border-box;
}



  /* --------------------------------- */
  * {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #CBC0D3;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-align: center;
}

header {
    /* background: linear-gradient(#e66465, #9198e5); */
    background-color: #8E9AAF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EFD3D7;
    color: #9979C1;
}

footer {
    background-color: #8E9AAF;
    padding: 10px;
    text-align: center;
    color: white;
  }
