* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #CBC0D3;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8E9AAF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EFD3D7;
    color: #9979C1;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 576px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.nextPageButton {
    color: #414141;
    background-color: #DEE2FF;
    text-align: center;
    padding: 1%;
    font-size: 1.5vw;
    border-radius: 20px;
    width: 15%;
    position: absolute;
    right: 10px;
    text-decoration: none;
    transition: .5s;
}

.nextPageButton:hover {
    text-decoration: none;
    color: #8E9AAF;
    background-color: #ededed;
    transition: .5s;
}

.tab-next {
    width: 100%;
    height: 60px;
    position: relative;
}

.previousPageButton {
    color: #414141;
    background-color: #DEE2FF;
    text-align: center;
    padding: 1%;
    font-size: 1.5vw;
    border-radius: 20px;
    width: 15%;
    position: absolute;
    left: 10px;
    text-decoration: none;
    transition: .5s;
}
.previousPageButton:hover {
    text-decoration: none;
    color: #8E9AAF;
    background-color: #ededed;
    transition: .5s;
}



footer {
    background-color: #8E9AAF;
    padding: 10px;
    text-align: center;
    color: white;
}