* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #CBC0D3;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
header { /* background: linear-gradient(#e66465, #9198e5); */
  
  background-color: #8E9AAF;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #EFD3D7;
  color: #9979C1;
}

@media (max-width: 992px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.row {
  margin: 20px;
}

#blog {
  text-align: left;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  margin: 5px;
}

#experience {
  text-align: left;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  margin: 5px;
}

/* .container {
    text-align: center;
    border: 3px solid green;
    width: 100%;
} */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* .responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
} */

.carousel, .carousel-inner, .carousel-item>img {
  height: 200px;
}

.carousel-item>img {
  object-fit: cover;
}

#more {
  display: none;
}

@media only screen and (min-width: 600px) {
  .carousel, .carousel-inner, .carousel-item>img {
    height: 500px;
  }
}

/* Style the footer */
.nextPageButton {
  font-family: Athiti;
  color: #414141;
  background-color:#DEE2FF;
  text-align: center;
  padding: 2%;
  font-size: 1.5vw;
  border-radius: 20px;
  width: 15%;
  margin-top: 10%;
  text-decoration: none;
  transition: .5s;
}
.nextPageButton:hover{
  text-decoration: none;
  color: #8E9AAF;
  background-color: #ededed;
  transition: .5s;
}

footer {
  background-color: #8E9AAF;
  padding: 10px;
  text-align: center;
  color: white;
}