* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fee5eb;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#e66465, #9198e5);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #FCB7D0;
    color: #9979C1;
  }

@media (max-width: 992px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

#blog {
    text-align: left;
    border: 3px solid rgb(53, 116, 209);
    width: 100%;
    margin: 5px;
}

#experience {
    text-align: left;
    border: 3px solid rgb(53, 116, 209);
    width: 100%;
    margin: 5px;
}

/* .container {
    text-align: center;
    border: 3px solid green;
    width: 100%;
} */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery img {
    width: 100%;
    height: auto;
}

/* .responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
} */
.carousel,
.carousel-inner,
.carousel-item > img {
  height: 200px;
}

.carousel-item > img {
  object-fit: cover;
}


#more {
    display: none;
}

@media only screen and (min-width: 600px) {
    .carousel,
    .carousel-inner,
    .carousel-item > img {
      height: 500px;
    }
  }
/* Style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}