* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

@media (max-width: 992px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

#blog {
    text-align: left;
    border: 3px solid rgb(53, 116, 209);
    width: 100%;
    margin: 5px;
}

#experience {
    text-align: left;
    border: 3px solid rgb(53, 116, 209);
    width: 100%;
    margin: 5px;
}

/* .container {
    text-align: center;
    border: 3px solid green;
    width: 100%;
} */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery img {
    width: 100%;
    height: auto;
}

/* .responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
} */

#more {
    display: none;
}

/* Style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}